<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="https://fonts.font.im/css?family=Quicksand|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>adminarg</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://arg.napier.ac.uk">ARG@EUN</a>
    </div>
	  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	
      <form class="navbar-form navbar-left" action="/result" method="post">
       <div class="input-group "  style="margin-top: 3px;">  
					       <input type="text" class="form-control input_edge light_blue_boarder" placeholder="Search" name="keyword" />  
				            <span class="input-group-btn">  
								<button type="submit" class="btn" style="margin-top: -1px;">Search</button>
				          	</span>  
					 </div>
		</form>

		
	    <div class="navbar-right">
		  	<a class="navbar-brand log_ico" href="/register">&nbsp;</a>
	    </div>
    </div>
  </div>
</nav>

<div class="container-fluid mycontainer">

	<div class="container page1">

		<div class="row">
			<div class="col-md-3 col-lg-3">
				<div class="leftblock">
					<ul>
						<li class="text_white"><img class="icon" src="../static/images/name-hover.png" alt=""> {{ username }}</li>
						<li class="text_white"><img class="icon" src="../static/images/email-hover.png" alt=""> {{ email }}</li>
					</ul>
				</div>
			</div>

			<div class="col-md-9 col-lg-9">

				<div class="mytab">
					<ul>
						<li><a href="adminuser.html">Users</a></li>
						<li class="active"><a href="adminarg.html">Arg</a></li>
						<li><a href="adminupload.html">Upload</a></li>
					</ul>
				</div>

				<div class="page3_content container-fluid">

				<div class="row item">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tile</th>
      <th scope="col">Download</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr>
          <th scope="row"><a href="/adminargedit">{{ user.id }}.</a></th>
            <td><a href="/adminargedit">{{ user.title }}</a></td>
          <td><img class="icon" src="../static/images/download.png" alt=""></td>
            <td><a href="/adminargedit"><img class="icon" src="../static/images/edit.png" alt=""></a></td>
        <td><img class="icon" src="../static/images/bin.png" alt=""></td>
        </tr>
    {% endfor %}
{#    <tr>#}
{#      <th scope="row"><a href="adminargedit.html">2.</a></th>#}
{#      <td><a href="adminargedit.html">Title</a></td>#}
{#      <td><img class="icon" src="../static/images/download.png" alt=""></td>#}
{#		<td><a href="adminargedit.html"><img class="icon" src="../static/images/edit.png" alt=""></a></td>#}
{#	<td><img class="icon" src="../static/images/bin.png" alt=""></td>#}
{#    </tr>  #}
  </tbody>
</table>

						
				</div>
					
				</div>

				<div class="pageTo">
      <nav class="pagination pagination_type1">
        <ol class="pagination__list">
            {% if pre_page %}
                <li class="pagination__group"><a href="/adminarg?page={{ pre_page }}" class="pagination__item pagination__control pagination__control_prev">prev</a></li>
            {% endif %}
            {% for page in show_pages %}
                {% if page == current_page %}
                    <li class="pagination__group"><span class="pagination__item pagination__item_active">{{ page }}</span></li>
                {% else %}
                    <li class="pagination__group"><a href="/adminarg?page={{ page }}" class="pagination__item">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if nex_page %}
                <li class="pagination__group"><a href="/adminarg?page={{ pre_page }}" class="pagination__item pagination__control pagination__control_next">next</a></li>
            {% endif %}
        </ol>
      </nav>

				</div>
				
				
			</div>
		</div>

	</div>
</div>

<div class="footer navbar-fixed-bottom">
	<div class="updown icos">
		<a href="https://github.com/ARG-ENU" target="_blank" class="github">github</a>
		&nbsp;&nbsp;
		<a href="https://www.napier.ac.uk/people/simon-wells" target="_blank" class="greenvelope">greenvelope</a>
		&nbsp;&nbsp;
		<a href="https://twitter.com/simonwells" target="_blank" class="twitter">twitter</a>
	</div>

	<div class="updown">
		Copyright Staff
	</div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>


</body>
</html>
